# Python 缓存
__pycache__/
*.py[cod]
*.pyo

# 虚拟环境
venv/
env/

# 数据集和模型
Word2Vec_SVM/data/*.xlsx
Word2Vec_SVM/data/*.csv
Word2Vec_SVM/data/*.txt
*.model
*.bin

# 输出图像或结果
*.png
*.jpg
*.jpeg

# IDE 配置
.vscode/
.idea/



